.lead__title {
  margin: 0 auto;
  padding: 0;
  max-width: 720px;
  text-align: center;
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
}

@media screen and (max-width: 768px) {
  .lead__title {
    padding: 0px 24px 0px;
  }
}

@media screen and (max-width: 520px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 110%;
    padding: 0 16px 0px;
  }
}
