.lead__caption {
  text-transform: uppercase;
  max-width: 159px;
  max-height: 14px;
  font-size: 10px;
  line-height: 1.4;
  padding-left: 100px;
  margin-top: 8px;
  margin-bottom: 0;
  letter-spacing: 0.15em;
}

@media screen and (max-width: 1024px) {
  .lead__caption {
    padding-left: 0;
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .lead__caption {
    padding: 8px 0 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .lead__caption {
    padding-left: 16px;
  }
}
